<form ng-submit="submit()" novalidate role="form" name="editPasswordForm">
    <div class="form-group has-feedback"
         ng-class="{'has-success':editPasswordForm.password.$valid && editPasswordForm.password.$dirty,'has-error':editPasswordForm.password.$invalid && editPasswordForm.password.$dirty}">

        <label class="control-label" for="password" ng-bind="SUAINTERNATIONALIZATION['00012']"></label>
        <input name="password" digit uppercase-character special-character lowercase-character identical-characters
               ng-minlength="10" ng-maxlength="128" ng-model="editPassword.password" type="password"
               class="form-control" id="password" required>

        <span ng-show="editPasswordForm.password.$valid && editPasswordForm.password.$dirty"
              class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span ng-show="editPasswordForm.password.$invalid && editPasswordForm.password.$dirty"
              class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>


        <div ng-if="editPasswordForm.password.$dirty" ng-messages="editPasswordForm.password.$error" class="help-block">
            <span ng-message="required"><span ng-bind="SUATEXTS['00001']"></span></span>
            <span ng-message="minlength"><span ng-bind="SUATEXTS['00003']"></span></span>
            <span ng-message="maxlength"><span ng-bind="SUATEXTS['00004']"></span></span>
            <span ng-message="uppercasecharacter"><span ng-bind="SUATEXTS['00008']"></span></span>
            <span ng-message="lowercasecharacter"><span ng-bind="SUATEXTS['00009']"></span></span>
            <span ng-message="digit"><span ng-bind="SUATEXTS['00010']"></span></span>
            <span ng-message="specialcharacter"><span ng-bind="SUATEXTS['00011']"></span></span>
            <span ng-message="identicalcharacters"><span ng-bind="SUATEXTS['00012']"></span></span>
        </div>

    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-success':editPasswordForm.newPassword.$valid && editPasswordForm.newPassword.$dirty,'has-error':editPasswordForm.newPassword.$invalid && editPasswordForm.newPassword.$dirty}">

        <label class="control-label" for="password" ng-bind="SUAINTERNATIONALIZATION['00031']"></label>
        <input name="newPassword" digit uppercase-character special-character lowercase-character identical-characters
               ng-minlength="10" ng-maxlength="128" ng-model="editPassword.newPassword" type="password"
               class="form-control" id="newPassword" required>

        <span ng-show="editPasswordForm.newPassword.$valid && editPasswordForm.newPassword.$dirty"
              class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span ng-show="editPasswordForm.newPassword.$invalid && editPasswordForm.newPassword.$dirty"
              class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>


        <div ng-if="editPasswordForm.newPassword.$dirty" ng-messages="editPasswordForm.newPassword.$error"
             class="help-block">
            <span ng-message="required"><span ng-bind="SUATEXTS['00001']"></span></span>
            <span ng-message="minlength"><span ng-bind="SUATEXTS['00003']"></span></span>
            <span ng-message="maxlength"><span ng-bind="SUATEXTS['00004']"></span></span>
            <span ng-message="uppercasecharacter"><span ng-bind="SUATEXTS['00008']"></span></span>
            <span ng-message="lowercasecharacter"><span ng-bind="SUATEXTS['00009']"></span></span>
            <span ng-message="digit"><span ng-bind="SUATEXTS['00010']"></span></span>
            <span ng-message="specialcharacter"><span ng-bind="SUATEXTS['00011']"></span></span>
            <span ng-message="identicalcharacters"><span ng-bind="SUATEXTS['00012']"></span></span>
        </div>

    </div>

    <div class="form-group has-feedback"
         ng-class="{'has-success':editPasswordForm.passwordAgain.$valid && editPasswordForm.passwordAgain.$dirty,'has-error':editPasswordForm.passwordAgain.$invalid && editPasswordForm.passwordAgain.$dirty}">

        <label class="control-label" for="passwordAgain" ng-bind="SUAINTERNATIONALIZATION['00010']"></label>
        <input name="passwordAgain" password-match="editPassword.newPassword" ng-model="editPassword.passwordAgain"
               type="password" class="form-control" id="passwordAgain" required>
        <span ng-show="editPasswordForm.passwordAgain.$valid && editPasswordForm.passwordAgain.$dirty"
              class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span ng-show="editPasswordForm.passwordAgain.$invalid && editPasswordForm.passwordAgain.$dirty"
              class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>


        <div ng-if="editPasswordForm.passwordAgain.$dirty" ng-messages="editPasswordForm.passwordAgain.$error"
             class="help-block">
            <span ng-message="passwordMatch"><span ng-bind="SUATEXTS['00100']"></span></span>
        </div>

    </div>
    <a href="#/">
        <button ng-bind="SUAINTERNATIONALIZATION['00003']"></button>
    </a>
    <button type="submit" ng-disabled="editPasswordForm.$invalid" ng-bind="SUAINTERNATIONALIZATION['00047']"></button>

</form>
