/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

#wp-sua textarea, #wp-sua input[type='text'] {
    width: 100%;
}

#wp-sua textarea {
    resize: none;
}

#wp-sua .ui-tabs-vertical {
    width: 55em;
}

#wp-sua .ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 12em;
}

#wp-sua .ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}

#wp-sua .ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
}

#wp-sua .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
    border-right-width: 1px;
}

#wp-sua .ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 40em;
}
